/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.hexagon {
  stroke: #000; /* Black border for hexagons */
  stroke-width: 0.2;
}

.hexagon.red {
  fill: #ffcccc; /* Light red color for hexagons */
}

.hexagon.grey {
  fill: #d3d3d3; /* Grey color for hexagons */
}

.hexagon text {
  font-size: 0.2em;
  text-anchor: middle;
  fill: #000; /* Black color for text */
}
